{
  "extends": "@antfu",
  "rules": {
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": {
          "max": 5
        },
        "multiline": {
          "max": 5
        }
      }
    ]
    // "vue/max-len": [
    //   "error",
    //   {
    //     "code": 120,
    //     "template": 120,
    //     "tabWidth": 2,
    //     "comments": 120,
    //     "ignorePattern": "",
    //     "ignoreComments": false,
    //     "ignoreTrailingComments": false,
    //     "ignoreUrls": false,
    //     "ignoreStrings": false,
    //     "ignoreTemplateLiterals": false,
    //     "ignoreRegExpLiterals": false,
    //     "ignoreHTMLAttributeValues": false,
    //     "ignoreHTMLTextContents": false
    //   }
    // ]
  }
}
