// :host(bili-comments-vote-card) {
//   // https://github.com/BewlyBewly/BewlyBewly/issues/998
//   // 這裏好像怎麼調都是用淺色狀態下文字顏色
//   .option-info {
//     color: var(--bew-text-1);
//   }
// }

:host(bili-comment-user-info) {
  #user-name a[style*="color"] {
    color: var(--bew-theme-color) !important;
  }
}

:host(bili-comment-renderer) {
  #body.dark .tag[style] {
    --bili-comment-tag-color: var(--bew-text-2);
    --bili-comment-tag-bg: var(--bew-fill-1);
  }
}

:host(bili-rich-text) {
  --bili-rich-text-link-color: var(--bew-theme-color) !important;
  --bili-rich-text-link-color-hover: var(--bew-theme-color-80) !important;

  #contents img[src*="https://i0.hdslb.com/bfs/activity-plat/static/20201110/4c8b2dbaded282e67c9a31daa4297c3c/AeQJlYP7e.png"],
  #contents img[src*="https://i0.hdslb.com/bfs/reply/9f3ad0659e84c96a711b88dd33f4bc2e945045e0.png"]
  {
    filter: var(--bew-filter-icon-glow);
  }
}

:host(bili-comment-box) {
  #pub button:not(:hover, :active, .active) {
    background-color: var(--bew-theme-color-60);
  }
}
