:root,
:host {
  --bew-fonts-basic: -apple-system, BlinkMacSystemFont, "Segoe UI", Inter, "Roboto Flex", "Noto Sans", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  --bew-fonts-fallback: "Microsoft JhengHei", Arial, sans-serif;

  --bew-fonts-english: var(--bew-fonts-basic), var(--bew-fonts-fallback);
  --bew-fonts-mandarin-cn: var(--bew-fonts-basic), "PingFang SC", "Source Han Sans SC VF", "Noto Sans CJK SC",
    "Source Han Sans SC", "Microsoft YaHei", var(--bew-fonts-fallback);
  // TODO: 使用 CDN 載入思源黑體 to prevent 弱撚智 Microsoft JhengHei 視覺干擾
  /* Microsoft JhengHei 是我見過最腦殘弱智的字型，預設下文字太細，但是 windows 正體中文又預設用這個黑體渲染，能用 cdn 換字型就換 */
  --bew-fonts-mandarin-tw: var(--bew-fonts-basic), "PingFang TC", "Source Han Sans TC VF", "Noto Sans CJK TC",
    "Source Han Sans TC", "Microsoft JhengHei", var(--bew-fonts-fallback);
  /* Microsoft JhengHei 是我見過最腦殘弱智的字型，預設下文字太細，但是 windows 正體中文又預設用這個黑體渲染，能用 cdn 換字型就換 */
  --bew-fonts-cantonese: var(--bew-fonts-basic), "PingFang HK", "Source Han Sans HC VF", "Noto Sans CJK HK",
    "Source Han Sans HC", "Microsoft JhengHei", var(--bew-fonts-fallback);
}

.bewly-wrapper,
.bewly-design {
  code,
  kbd,
  samp,
  pre {
    font-family: "JetBrains Mono", "Fira Code", "Fira Mono", "Cascadia Code", "Cascadia Mono", ui-monospace,
      SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
}

:lang(en) .bewly-wrapper,
:lang(en).bewly-design,
:lang(en).bewly-design * {
  font-family: var(--bew-font-family, var(--bew-fonts-english));
}

:lang(zh-CN) .bewly-wrapper,
:lang(zh-CN).bewly-design,
:lang(zh-CN).bewly-design * {
  font-family: var(--bew-font-family, var(--bew-fonts-mandarin-cn));
}

:lang(zh-TW) .bewly-wrapper,
:lang(zh-TW).bewly-design,
:lang(zh-TW).bewly-design * {
  font-family: var(--bew-font-family, var(--bew-fonts-mandarin-tw));
}

:lang(zh-HK) .bewly-wrapper,
:lang(zh-HK).bewly-design,
:lang(zh-HK).bewly-design * {
  font-family: var(--bew-font-family, var(--bew-fonts-cantonese));
}

// // 不知道爲何 firefox 用下面這一段樣式優先級別會高過的樣式，先註釋先了
// .bewly-wrapper,
// .bewly-design,
// .bewly-design * {
//   font-family: var(--bew-font-family, var(--bew-fonts-english));
// }
