/** font-family 選用字型設定感謝 胡雨晴 hafterain (https://github.com/hafterain) 提供幫助 ❤️❤️❤️ */

:root,
:host {
  --bew-fonts-basic: CJKEmDash, Numbers, Onest, ShangguSansSCVF, -apple-system, BlinkMacSystemFont, InterVariable, Inter,
    "Segoe UI", Cantarell, "Noto Sans", "Roboto Flex", Roboto;
  --bew-fonts-fallback: sans-serif, ui-sans-serif, system-ui, "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", emoji;

  --bew-fonts: bilifont, var(--bew-custom-fonts, var(--bew-fonts-basic), var(--bew-fonts-fallback));
}

.bewly-wrapper,
.bewly-design {
  code,
  kbd,
  samp,
  pre {
    font-family: "JetBrains Mono", "Fira Code", "Fira Mono", "Cascadia Code", "Cascadia Mono", ui-monospace,
      SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
}

.modify-fonts .bewly-wrapper,
.bewly-design.modify-fonts,
// Do not change the danmaku font because the Bilibili video player can change the font of danmaku
.bewly-design.modify-fonts *:not(.bili-danmaku-x-dm),
// 热搜点评
.bewly-design.modify-fonts .base-video-sections-v1 .video-sections-head_first-line .first-line-left .first-line-title,
// 接下来播放
.bewly-design.modify-fonts .recommend-list-v1 .rec-title,
// Font for the recommended video list on the right side of the video https://github.com/BewlyBewly/BewlyBewly/issues/1061
.bewly-design.modify-fonts .card-box .info .title,
// Search page video card title https://search.bilibili.com/all?keyword=test
.bewly-design.modify-fonts .bili-video-card .bili-video-card__info--tit {
  font-family: var(--bew-fonts);
}
