* {
  outline-color: var(--bew-theme-color-80);
  outline-width: 2px;
  outline-offset: -2px;
}

.dark * {
  color-scheme: dark;
}

html, body {
  font-size: 14px!important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

html > ::-webkit-scrollbar-track {
  background: var(--bew-bg);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 122, .6);
  border-radius: 20px;
}

::-webkit-scrollbar-corner {
  background: var(--bew-bg)
}

// html,
// body,
// #app {
//   margin: 0;
//   padding: 0;
// }

// html {
//   filter: none !important;
// }

// body {
//   background: var(--bew-bg) !important;
//   color: var(--bew-text-1);
// }

.keep-two-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-break: anywhere;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

h1, h2, h3, h4, h5, h6 {
  --at-apply: color-$bew-text-1;
}