* {
  outline-color: var(--bew-theme-color-80);
  outline-width: 2px;
  outline-offset: -2px;
}

.dark * {
  color-scheme: dark;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

html.bewly-design > ::-webkit-scrollbar-track {
  background: var(--bew-bg);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 122, 0.6);
  border-radius: 20px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

html.bewly-design,
.bewly-design body {
  font-size: 14px !important;
  min-width: unset !important;
  filter: none !important;
  color: var(--bew-text-1);
  line-height: unset;
  background-image: none;
}

.dark.bewly-design body,
html.dark.bewly-design {
  background-color: var(--bew-bg);
}

.keep-two-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-break: anywhere;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.bewly-design {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    --at-apply: color-$bew-text-1;
  }
}

// Change OverlayScrollbar color
.os-scrollbar .os-scrollbar-handle {
  --os-handle-bg: rgba(120, 120, 140, .44);
  --os-handle-bg-hover: rgba(120, 120, 140, .55);
  --os-handle-bg-active: rgba(120, 120, 140, .66);
}

.link-navbar, #home_nav {
  display: none;
}