.dark * {
  color-scheme: dark;
}

html, body {
  font-size: 14px!important;
}

// html,
// body,
// #app {
//   margin: 0;
//   padding: 0;
// }

// html {
//   filter: none !important;
// }

// body {
//   background: var(--bew-bg) !important;
//   color: var(--bew-text-1);
// }

.keep-two-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

h1, h2, h3, h4, h5, h6 {
  --at-apply: color-$bew-text-1;
}

// .btn {
//   --at-apply: px-4 py-2 rounded-$bew-radius inline-block
//     cursor-pointer transform duration-300
//     filter outline-none
//     border-2 border-solid border-$bew-theme-color
//     bg-$bew-theme-color text-white
//     active:scale-95 active:bg-$bew-theme-color active:brightness-110
//     focus:bg-$bew-theme-color
//     disabled:cursor-default disabled:bg-$bew-fill-4 disabled:opacity-50
//     disabled:border-$bew-fill-4;
// }

// .line-btn {
//   --at-apply: px-4 py-2 rounded-$bew-radius inline-block
//     cursor-pointer transform duration-300
//     bg-transparent filter
//     border-2 border-solid border-$bew-fill-4
//     text-$bew-fill-4
//     active:scale-95 active:brightness-110
//     disabled:cursor-default disabled:bg-$bew-fill-4 disabled:opacity-50;
// }

// .icon-btn {
//   --at-apply: inline-block cursor-pointer select-none
//     opacity-75 transition duration-200 ease-in-out
//     hover:opacity-100 hover:text-$bew-theme-color;
//   font-size: 1rem;
// }

.chk-btn {
  --at-apply: flex px-4 py-2 items-center select-none;

  input {
    --at-apply: ml-4;
  }
}

// select {
//   --at-apply: px-4 py-2 bg-$bew-fill-1 rounded-$bew-radius border-none
//     text-center appearance-none text-$bew-text-1 outline-none;
// }
