.remove-top-bar {
  // remove the original top bar and adjust the height of the top bar to match the bewly top bar
  .bili-header .bili-header__bar,
  #internationalHeader,
  .link-navbar,
  #home_nav,
  // only hide the top bar on the home page
  .homePage #biliMainHeader,
  #bili-header-container {
    visibility: hidden;
    height: var(--bew-top-bar-height) !important;
  }

  // Remove the Bilibili Evolved's top bar
  .custom-navbar {
    display: none;
  }

  // some pages have a white bar at the top; changing the top margin fixes this problem
  .banner-wrapper,
  .home-banner-wrapper {
    margin-top: calc(-1 * var(--bew-top-bar-height)) !important;
  }
}

.remove-top-bar-without-placeholder {
  #biliMainHeader {
    display: none;
  }
}
