/**
  * this stylesheet is used to reset the styles of the bilibili default style
  */

html, body {
  font-size: 14px;
  min-width: unset;
}

a,
a:hover {
  color: unset;
}

button {
  border: unset;
  background: unset;

  &:focus,
  &:active {
    background: currentColor
  }
}

// hide the original home page
.login-tip {
  display: none;
}
body > #i_cecream,
#i_cecream * {
  position: absolute;
  top: 200vh;
  visibility: hidden !important;
  width: 0;
  height: 0;
  overflow: hidden !important;
  pointer-events: none !important;
}