.page-fade-enter-active,
.page-fade-leave-active {
  // transition: opacity 0.5s ease;
  --at-apply: transition-opacity duration-500;
}
.page-fade-enter-from,
.page-fade-leave-to {
  --at-apply: opacity-0;
}
.page-fade-leave-to {
  --at-apply: hidden
}

.fade-enter-active,
.fade-leave-active {
  --at-apply: transition-opacity duration-500;

  // transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  --at-apply: opacity-0;
}

.list-enter-active,
.list-leave-active {
  // transition: all 0.5s ease;
  --at-apply: transition-all duration-500;
}
.list-enter-from,
.list-leave-to {
  --at-apply: opacity-0 transform translate-y-6 transform-gpu;
}
.list-leave-to {
  --at-apply: hidden
}