.bewly-design.animePlaybackAndMoviePage {
  .bpx-player-contextmenu > li {
    box-sizing: unset;
  }

  body .special-cover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent 10%);
    pointer-events: none;
  }

  // #region new anime playback & movie page
  [class*="numberListItem_number_list_item"][class*="numberListItem_select"],
  [class*="follow_btnFollow"],
  .squirtle-controller.squirtle-pgc .squirtle-progress-timeline,
  .squirtle-controller.squirtle-pgc .squirtle-video-volume .squirtle-volume .squirtle-volume-bar .squirtle-volume-dot,
  .squirtle-controller.squirtle-pgc
    .squirtle-video-volume
    .squirtle-volume
    .squirtle-volume-bar
    .squirtle-volume-percent,
  .squirtle-controller.squirtle-pgc label.bui-switch-label input:checked + .bui-switch,
  .squirtle-controller.squirtle-pgc label.bui-switch-label.bui-switch-animbg input:checked + .bui-switch {
    background-color: var(--bew-theme-color);
  }

  [class*="numberListItem_badge"],
  [class*="vipPaybar_textWrap"],
  [class*="imageListItem_wrap"] [class*="imageListItem_coverWrap"] [class*="imageListItem_badge"],
  .squirtle-controller.squirtle-pgc
    .squirtle-video-setting
    .squirtle-side-setting
    .squirtle-single-side-setting
    .squirtle-single-setting-chooses
    .squirtle-single-setting-choice.active {
    background-color: var(--bew-theme-color) !important;
  }

  [class*="promptBar_remindActionWrap"] [class*="promptBar_btnItemWrap"] [class*="positionBtn_btn"] {
    background: var(--bew-theme-color) !important;
  }

  [class*="follow_btnFollow"]:hover {
    background-color: var(--bew-theme-color-80);
  }

  [class*="mediainfo_mediaToolbar"] [class*="mediainfo_btnHome"],
  [class*="SectionSelector_SectionSelector"] [class*="SectionSelector_sectionItem"][class*="SectionSelector_active"] {
    background-color: var(--bew-theme-color-10);
  }

  [class*="mediainfo_mediaToolbar"] [class*="mediainfo_btnHome"],
  [class*="mediainfo_mediaRight"]
    [class*="mediainfo_media_desc_section"]
    [class*="mediainfo_display_area"]
    [class*="mediainfo_ellipsis"],
  [class*="mediainfo_mediaRight"] [class*="mediainfo_media_desc"] i,
  [class*="upinfo_btn_follow_up"],
  .squirtle-controller.squirtle-pgc .squirtle-video-setting .squirtle-setting-panel-wrap .squirtle-single-select:hover,
  .squirtle-controller.squirtle-pgc
    .squirtle-video-setting
    .squirtle-side-setting
    .squirtle-single-side-setting
    .squirtle-single-setting-other-choice:hover {
    color: var(--bew-theme-color);
  }

  [class*="RecommendItem_wrap"] [class*="RecommendItem_right_wrap"] [class*="RecommendItem_title"]:hover,
  [class*="upinfo_upLink"] [class*="upinfo_upName"][class*="upinfo_vip"],
  .squirtle-controller.squirtle-pgc .squirtle-block-wrap .squirtle-select-list .squirtle-select-item.active,
  [class*="rankTab_sponsor_rank_tab"] li[class*="rankTab_tab_item"][class*="rankTab_active"],
  [class*="rankTab_sponsor_rank_tab"] li[class*="rankTab_tab_item"]:hover,
  [class*="sponsor_sponsor_module"] [class*="sponsor_sponsor_info"] [class*="sponsor_btn_show_rank"]:hover,
  [class*="rankList_sponsor_rank_item"][class*="rankList_pos_rank_module"]
    [class*="rankList_sp_right"]
    [class*="rankList_sp_user"]
    [class*="rankList_sp_name"][style*="color"] {
    color: var(--bew-theme-color) !important;
  }

  [class*="mediainfo_mediaToolbar"] [class*="mediainfo_btnHome"] svg path,
  #bilibili_pbp svg rect[clip-path="url(#pbp-played-path)"],
  .squirtle-controller.squirtle-pgc
    .squirtle-video-setting
    .squirtle-side-setting
    .squirtle-single-side-setting
    .squirtle-single-setting-other-choice
    .squirtle-svg-icon.active
    path,
  .squirtle-controller.squirtle-pgc
    .squirtle-video-setting
    .squirtle-side-setting
    .squirtle-single-side-setting
    .squirtle-single-setting-other-choice.active
    .squirtle-svg-icon.active
    path,
  .bui-danmaku-switch-on path:nth-child(2) {
    fill: var(--bew-theme-color);
  }

  // #bilibili_pbp svg rect[clip-path='url(#pbp-played-path)'] {
  //   fill: var(--bew-theme-color) !important;
  // }

  [class*="PlayingIcon_playIcon"] svg path {
    stroke: var(--bew-theme-color);
  }

  [class*="rankTab_sponsor_rank_tab"] [class*="rankTab_indicator"] {
    border-color: var(--bew-theme-color);
  }

  [class*="rankTab_sponsor_rank_tab"] [class*="rankTab_indicator"]:after {
    display: none;
  }

  &.dark {
    .home-container .main-container,
    [class*="mediainfo_mediaRight"] [class*="mediainfo_media_desc"] i {
      background-color: var(--bew-bg);
    }

    [class*="eplist_ep_list_wrapper"],
    [class*="eplist_ep_list_wrapper"],
    [class*="rankList_sponsor_rank_item"][class*="rankList_pos_rank_module"]
      [class*="rankList_sp_right"]
      [class*="rankList_sp_msg"] {
      background-color: var(--bew-content-solid-1);
    }

    .special.wide .main-container {
      background-color: unset;
    }

    [class*="upinfo_upInfoCard"] {
      background-color: var(--bew-fill-1);
    }

    [class*="follow_btnFollow"][class*="follow_followed"] {
      background-color: var(--bew-fill-2) !important;
    }

    [class*="SectionSelector_SectionSelector"] [class*="SectionSelector_expand"] {
      background: linear-gradient(270deg, var(--bew-content-solid-1) 46.21%, transparent);
    }

    [class*="numberListItem_number_list_item"] {
      --bg1: var(--bew-fill-1);
    }

    [class*="mediainfo_mediaInfo"],
    [class*="recommend_wrap"],
    [class*="rankList_sponsor_rank_item"][class*="rankList_pos_rank_module"]
      [class*="rankList_sp_right"]
      [class*="rankList_sp_msg"],
    [class*="sponsor_sponsor_module"] {
      border-color: var(--bew-border-color);
    }

    [class*="mediainfo_mediaRight"]
      [class*="mediainfo_media_desc_section"]
      [class*="mediainfo_display_area"]
      [class*="mediainfo_ellipsis"] {
      background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), var(--bew-bg) 20%, var(--bew-bg));
    }

    [class*="numberListItem_title"],
    [class*="recommend_wrap"] [class*="recommend_title"],
    [class*="RecommendItem_wrap"] [class*="RecommendItem_right_wrap"] [class*="RecommendItem_title"],
    [class*="rankView_sponsor_rank_module"] [class*="rankView_sponsor_rank_header"] [class*="rankView_title"],
    [class*="rankList_sponsor_rank_item"][class*="rankList_pos_rank_module"]
      [class*="rankList_sp_right"]
      [class*="rankList_sp_msg"],
    [class*="rankTab_sponsor_rank_tab"] li[class*="rankTab_tab_item"],
    [class*="sponsor_sponsor_module"] [class*="sponsor_sponsor_info"] [class*="sponsor_sponsor_count"] span,
    [class*="sponsor_sponsor_module"] [class*="sponsor_sponsor_info"] [class*="sponsor_btn_show_rank"],
    [class*="rankList_sponsor_rank_item"][class*="rankList_pos_rank_module"]
      [class*="rankList_sp_right"]
      [class*="rankList_sp_user"]
      [class*="rankList_sp_name"] {
      color: var(--bew-text-1);
    }

    [class*="RecommendItem_wrap"]
      [class*="RecommendItem_right_wrap"]
      [class*="RecommendItem_sub_wrap"]
      [class*="RecommendItem_showindex"],
    [class*="score_score"],
    [class*="rankList_sponsor_rank_item"][class*="rankList_pos_rank_module"]
      [class*="rankList_sp_left"]
      [class*="rankList_face_wrap"]
      [class*="rankList_sp_rank"],
    [class*="sponsor_sponsor_module"] [class*="sponsor_sponsor_info"] [class*="sponsor_sponsor_count"] {
      color: var(--bew-text-2);
    }

    [class*="rankList_sponsor_rank_item"][class*="rankList_pos_rank_module"]
      [class*="rankList_sp_right"]
      [class*="rankList_sp_msg"][class*="rankList_empty"] {
      color: var(--bew-text-3);
    }

    [class*="rankList_sponsor_rank_item"][class*="rankList_pos_rank_module"]
      [class*="rankList_sp_left"]
      [class*="rankList_face_wrap"]
      [class*="rankList_svg"] {
      fill: var(--bew-border-color);
    }
  }

  // #endregion

  // #region Old anime playback & movie page
  .main-container .tool-bar .coin-info.active i,
  .main-container .tool-bar .coin-info:hover i,
  .main-container .tool-bar .like-info.active i,
  .main-container .tool-bar .like-info:hover i,
  .main-container .tool-bar .coin-info.active span,
  .main-container .tool-bar .coin-info:hover span,
  .main-container .tool-bar .like-info.active span,
  .main-container .tool-bar .like-info:hover span,
  .main-container .tool-bar .share-info .share-more .share-wrapper .share-btn:hover i,
  .main-container .tool-bar .share-info .share-more .share-wrapper .share-btn:hover span,
  .main-container .tool-bar .share-info:hover i,
  .main-container .tool-bar .share-info:hover span,
  .main-container .tool-bar .mobile-info:hover i,
  .main-container .tool-bar .mobile-info:hover span,
  .main-container .tool-bar .watch-info:hover span,
  .ep-list-wrapper .ep-item i,
  .section-ep-wrapper .ep-item i,
  .up-info .btn-follow-up,
  .main-container .media-info .media-right .media-desc i {
    color: var(--bew-theme-color);
  }

  .main-container .review-module .review-list .review-item .review-header #review-author-nick-name.review-author.is-vip,
  .up-info > a .up-name.vip,
  .main-container .review-module .review-list .review-item:hover .review-title,
  .main-container .review-module .module-title .more-link:hover,
  .sponsor-rank-item.pos-rank-module .sp-right .sp-user.vip .sp-name,
  .main-container .sponsor-module .sponsor-info .btn-show-rank:hover {
    color: var(--bew-theme-color) !important;
  }

  .main-container .pay-bar .vip .btn-pay,
  .main-container .media-info .media-right .media-tool-bar .btn-follow,
  .main-container .nav-tools .tool-item:hover {
    background-color: var(--bew-theme-color);
  }

  .ep-list-wrapper .ep-item .badge.pink,
  .section-ep-wrapper .ep-item .badge.pink,
  .main-container .nav-tools .tool-item:hover,
  .main-container .ep-list-wrapper .list-wrapper.simple ul .ep-item.cursor,
  .main-container .ep-list-wrapper .list-wrapper.simple ul .ep-item:hover {
    background-color: var(--bew-theme-color) !important;
  }

  .main-container .pay-bar .vip .btn-pay:hover,
  .main-container .media-info .media-right .media-tool-bar .btn-follow:hover {
    background-color: var(--bew-theme-color-80);
  }

  .main-container .ep-list-wrapper .list-wrapper.simple ul .ep-item.cursor,
  .sponsor-rank-tab .indicator {
    border-color: var(--bew-theme-color);
  }

  .main-container .nav-tools .tool-item:hover {
    border-color: var(--bew-theme-color) !important;
  }

  .main-container .tool-bar .watch-info:hover #watch-together-icon-1 path {
    fill: var(--bew-theme-color) !important;
  }

  .sponsor-rank-tab .indicator:after {
    display: none;
  }

  &.dark {
    .main-container .media-info .media-right .media-title,
    .main-container .media-info .media-right .pub-wrapper,
    .main-container .media-info .media-right .media-desc,
    .main-container .season-list .series-title,
    .main-container .season-list .ss-list-wrapper .ss-item .ss-info .ss-title,
    .main-container .recom-wrapper .recom-list .recom-item .info-wrapper .video-title,
    .main-container .plp-l .comment-wrapper .b-head,
    .main-container .media-info .media-right .pub-wrapper .home-link,
    .main-container .ep-list-wrapper .list-title h4,
    .ep-section-module .section-title,
    .ep-list-wrapper .ep-item a,
    .section-ep-wrapper .ep-item a,
    .main-container .review-module .review-list .review-item .review-title,
    .main-container .review-module .review-list .review-item .review-content,
    .main-container .media-info .media-right .pub-wrapper .av-link,
    .main-container .review-module .module-title .more-link,
    .main-container .nav-tools .tool-item:hover,
    .main-container .season-list .ss-list-wrapper .expand-more,
    .sponsor-rank-module-v2 .sponsor-rank-header h3,
    .sponsor-rank-tab li.tab-item,
    .main-container .sponsor-module .sponsor-info .sponsor-count span,
    .sponsor-rank-item.pos-rank-module .sp-right .sp-msg,
    .main-container .recom-wrapper .recom-title,
    .main-container .sponsor-module .sponsor-info .btn-show-rank {
      color: var(--bew-text-1);
    }

    .main-container .tool-bar span,
    .main-container .tool-bar i,
    .main-container .season-list .ss-list-wrapper .ss-item .ss-info .pub-info,
    .main-container .recom-wrapper .recom-list .recom-item .info-wrapper .video-subtitle,
    .main-container .recom-wrapper .recom-list .recom-item .info-wrapper .video-count,
    .main-container .media-info .media-right .media-count,
    .main-container .review-module .review-list .review-item .pub-time,
    .main-container .review-module .review-list .review-item .review-header #review-author-nick-name.review-author,
    .main-container .media-info .media-right .media-tool-bar .btn-rating,
    .main-container .nav-tools .tool-item,
    .main-container .sponsor-module .sponsor-info .sponsor-count,
    .sponsor-rank-item.pos-rank-module .sp-left .face-wrap.iconfont .sp-rank {
      color: var(--bew-text-2);
    }

    .main-container .season-list .ss-list-wrapper .ss-item .ss-info .ss-count {
      color: var(--bew-text-3);
    }

    .main-container .media-info .media-right .media-tool-bar .btn-follow.active {
      color: var(--bew-fill-4);
    }

    .main-container .tool-bar path {
      fill: var(--bew-text-2);
    }

    .main-container .media-info,
    .main-container .review-module,
    .main-container .plp-l .split-line,
    .main-container .media-info .media-right .media-tool-bar .btn-rating,
    .main-container .nav-tools .tool-item,
    .main-container .sponsor-module,
    .main-container .ep-list-wrapper .list-wrapper.simple ul .ep-item,
    .sponsor-rank-item.pos-rank-module .sp-right .sp-msg {
      border-color: var(--bew-border-color);
    }

    .sponsor-rank-item.pos-rank-module .sp-left .face-wrap.iconfont:before {
      color: var(--bew-border-color);
    }

    .main-container .media-info .media-right .pub-wrapper .up-info-wrapper .split-line {
      background-color: var(--bew-border-color);
    }

    .main-container .ep-list-wrapper,
    .ep-section-module,
    .main-container .review-module .review-list .review-item .review-body,
    .main-container .nav-tools .tool-item,
    .main-container .season-list .ss-list-wrapper .expand-more {
      background-color: var(--bew-content-solid-1);
    }

    .ep-list-wrapper .ep-item.cursor,
    .section-ep-wrapper .ep-item.cursor,
    .main-container .media-info .media-right .media-tool-bar .btn-rating,
    .main-container .ep-list-wrapper .list-wrapper.simple ul .ep-item,
    .sponsor-rank-item.pos-rank-module .sp-right .sp-msg {
      background-color: var(--bew-fill-1);
    }

    .main-container .media-info .media-right .media-tool-bar .btn-follow.active {
      background-color: var(--bew-fill-2) !important;
    }

    .ep-list-wrapper .ep-item:hover,
    .section-ep-wrapper .ep-item:hover {
      background-color: var(--bew-fill-2);
    }

    .main-container .media-info .media-right .media-desc i {
      background-color: var(--bew-bg);
    }
  }

  // #endregion
}
