.bpx-player-contextmenu > li {
  box-sizing: unset;
}

.numberListItem_number_list_item__wszA4.numberListItem_select__ar1X5,
.follow_btnFollow__OFY3n,
.squirtle-controller.squirtle-pgc .squirtle-progress-timeline,
.squirtle-controller.squirtle-pgc
  .squirtle-video-volume
  .squirtle-volume
  .squirtle-volume-bar
  .squirtle-volume-dot,
.squirtle-controller.squirtle-pgc
  .squirtle-video-volume
  .squirtle-volume
  .squirtle-volume-bar
  .squirtle-volume-percent,
.squirtle-controller.squirtle-pgc
  label.bui-switch-label
  input:checked
  + .bui-switch,
.squirtle-controller.squirtle-pgc
  label.bui-switch-label.bui-switch-animbg
  input:checked
  + .bui-switch {
  background-color: var(--bew-theme-color);
}

.numberListItem_badge__TV05g,
.vipPaybar_textWrap__xXqVi,
.imageListItem_wrap__HceXs
  .imageListItem_coverWrap__bnWan
  .imageListItem_badge__eCjIv,
.squirtle-controller.squirtle-pgc
  .squirtle-video-setting
  .squirtle-side-setting
  .squirtle-single-side-setting
  .squirtle-single-setting-chooses
  .squirtle-single-setting-choice.active {
  background-color: var(--bew-theme-color) !important;
}

.mediainfo_mediaToolbar__uEabN .mediainfo_btnHome__ci38K {
  background-color: var(--bew-theme-color-10);
}

.mediainfo_mediaToolbar__uEabN .mediainfo_btnHome__ci38K,
.mediainfo_mediaRight__jv5hq
  .mediainfo_media_desc_section__bOFBw
  .mediainfo_display_area__CEKfP
  .mediainfo_ellipsis__xCKNd,
.mediainfo_mediaRight__jv5hq .mediainfo_media_desc__F5lLq i,
.upinfo_btn_follow_up__gmj7f,
.squirtle-controller.squirtle-pgc
  .squirtle-video-setting
  .squirtle-setting-panel-wrap
  .squirtle-single-select:hover,
.squirtle-controller.squirtle-pgc
  .squirtle-video-setting
  .squirtle-side-setting
  .squirtle-single-side-setting
  .squirtle-single-setting-other-choice:hover {
  color: var(--bew-theme-color);
}

.RecommendItem_wrap__pJmXL
  .RecommendItem_right_wrap__rgzw_
  .RecommendItem_title__zyQj0:hover,
.upinfo_upLink__x4bbS .upinfo_upName__puAs1.upinfo_vip__nTBku,
.squirtle-controller.squirtle-pgc
  .squirtle-block-wrap
  .squirtle-select-list
  .squirtle-select-item.active {
  color: var(--bew-theme-color) !important;
}

.mediainfo_mediaToolbar__uEabN .mediainfo_btnHome__ci38K svg path,
#bilibili_pbp svg rect[clip-path='url(#pbp-played-path)'],
.squirtle-controller.squirtle-pgc
  .squirtle-video-setting
  .squirtle-side-setting
  .squirtle-single-side-setting
  .squirtle-single-setting-other-choice
  .squirtle-svg-icon.active
  path,
.squirtle-controller.squirtle-pgc
  .squirtle-video-setting
  .squirtle-side-setting
  .squirtle-single-side-setting
  .squirtle-single-setting-other-choice.active
  .squirtle-svg-icon.active
  path {
  fill: var(--bew-theme-color);
}

// #bilibili_pbp svg rect[clip-path='url(#pbp-played-path)'] {
//   fill: var(--bew-theme-color) !important;
// }

.PlayingIcon_playIcon__Ob1X0 svg path {
  stroke: var(--bew-theme-color);
}

.mediainfo_mediaInfo__Cpow4,
.recommend_wrap__pgu8c {
  border-color: var(--bew-border-color);
}

.dark {
  .home-container .main-container,
  .mediainfo_mediaRight__jv5hq .mediainfo_media_desc__F5lLq i {
    background-color: var(--bew-bg);
  }

  .eplist_ep_list_wrapper__PzLHa,
  .eplist_ep_list_wrapper__PzLHa {
    background-color: var(--bew-content-solid-1);
  }

  .special.wide .main-container {
    background-color: unset;
  }

  .upinfo_upInfoCard__roviy {
    background-color: var(--bew-fill-1);
  }

  .numberListItem_number_list_item__wszA4 {
    --bg1: var(--bew-fill-1);
  }

  .mediainfo_mediaRight__jv5hq
    .mediainfo_media_desc_section__bOFBw
    .mediainfo_display_area__CEKfP
    .mediainfo_ellipsis__xCKNd {
    background: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0),
      var(--bew-bg) 20%,
      var(--bew-bg)
    );
  }

  .numberListItem_title__ukPv0,
  .recommend_wrap__pgu8c .recommend_title__miCR4,
  .RecommendItem_wrap__pJmXL
    .RecommendItem_right_wrap__rgzw_
    .RecommendItem_title__zyQj0 {
    color: var(--bew-text-1);
  }

  .RecommendItem_wrap__pJmXL
    .RecommendItem_right_wrap__rgzw_
    .RecommendItem_sub_wrap__s1pfm
    .RecommendItem_showindex__KMdzi,
  .score_score__1MjLd {
    color: var(--bew-text-2);
  }
}
