.bewly-design {
  .channel-swiper .channel-carousel-tool .channel-nav-click li.active {
    background-color: var(--bew-theme-color);
  }

  .inner-c .play-icon.button,
  .hover-c .play-icon.button {
    background-color: var(--bew-theme-color-80);
  }

  .promotion-c {
    background-color: var(--bew-fill-1);
  }

  .hover-c .title,
  :not(.index-module) > .inner-c .title {
    color: var(--bew-text-1);
  }

  .index-module .all-a:hover .all,
  .index-module .all-a:hover .arrow-all,
  .index-module .sub-m:hover,
  .hot-module .hot-item:hover .title,
  .promotion-c:hover .title,
  .hover-c:hover .title {
    color: var(--bew-theme-color);
  }

  &.dark {
    .channel-swiper .channel-carousel-tool .channel-nav-click li {
      background-color: var(--bew-fill-1);
    }

    .channel-container .el-input__inner {
      box-shadow: 0 0 0 1px var(--bew-border-color) inset;
    }
  }
}
