.bewly-design.cheesePage {
  // #region 固定修改
  .cheese_banner {
    transform: translateY(30px); /* 遮挡顶部搜索框，将元素向下移动30像素 */
  }

  h4.bannder-slider-title {
    color: #fff;
  }

  .international-footer {
    display: none;
  }

  .tags,
  .rank-index {
    background: #83839124;
  }

  .backTop-item,
  .block-list .slider-contro .slider-next:hover,
  .block-list .slider-contro .slider-prev:hover {
    background-color: #83839124;
  }
  // #endregion
  // #region 主题色
  :not(foobar) {
    .block-list-item-price,
    .list:hover .rank-title,
    .myClassroom:hover,
    .rec-title:hover,
    .block-title .sub-title:hover,
    .block-list-item-title:hover,
    .backTop-item--txt:hover,
    .banner-slider-subtitle .ell:hover {
      color: var(--bew-theme-color);
    }

    .rank-index.hot,
    .btn-follow,
    .home-card > .home-card-bottom-controller > .home-card-link-button,
    .home-card > .home-progress > .home-progress-active {
      background: var(--bew-theme-color);
    }

    .backTop-item:hover {
      color: var(--bew-theme-color);
      border: 1px solid var(--bew-theme-color);
    }
    .banner-item.active {
      background-image: linear-gradient(270deg, rgba(11, 163, 149, 0), var(--bew-theme-color));
    }
  }
  // #region 深色修改
  &.dark {
    p.ell,
    .myClassroom,
    .rec-title,
    .rank-title,
    .block-title,
    .block-title .sub-title,
    .block-title .more,
    .tag .ell,
    .title_txt,
    .title,
    .title .more,
    .time-line-wrapper .time,
    .block-page-progress,
    .block-list .slider-contro .slider-next,
    .block-list .slider-contro .slider-prev {
      color: var(--bew-text-1);
    }

    .backTop-item .go-top svg #poly {
      fill: var(--bew-text-1);
    }

    .search-container .search__bar #nav-searchform.is-focus .search-content,
    .search-container .search__bar #nav-searchform:hover,
    .item {
      background: var(--bew-fill-1);
    }

    .buyListBar-showContent,
    .backTop-slide.top,
    .backTop-slide.bottom {
      background: var(--bew-bg);
    }

    .backTop-item--txt,
    .buyListBar-content-item--title {
      color: var(--bew-text-1);
    }

    .backTop-item--txt,
    .buyListBar-content-item--title,
    .rank-index {
      color: var(--bew-text-2);
    }

    .search-container .search__bar #nav-searchform.is-focus .search-content,
    .search-container .search__bar #nav-searchform:hover,
    .item {
      background: var(--bew-fill-2);
    }

    .buyListBar-showContent,
    .backTop-slide.top,
    .backTop-slide.bottom {
      background: var(--bew-bg);
    }
  }
  // #endregion
}
