.bewly-design.cheeseVideoPage {
  // #region 固定修改
  .fixed-guide {
    display: none;
  }

  .section-season {
    background-color: #83839214;
  }

  .archive-tool-share-pannel-wrp .left p.url,
  .archive-publishers-box .owner-follow.owner-unfollow,
  .guide-box .guide-faq .faq-list {
    background: #83839124;
  }

  .archive-publishers-box .owner-follow.owner-followed {
    color: #fff;
    border: none;
  }
  .archive-publishers-box .owner-follow.owner-unfollow {
    border: none;
  }

  .archive-tool-share-pannel-wrp .right .qrcode-wrp {
    background: #fff;
  }
  // #endregion
  // #region 主题色
  :not(foobar) {
    .section-season .season-title-active,
    .section-season .season-info-active,
    .section-season .no {
      color: var(--bew-theme-color) !important;
    }

    .archive-tool-share-pannel-wrp .left p.url span,
    .archive-tool-box .layout-l .collection:hover .tool-l-icon-t,
    .archive-tool-box .layout-l .consult:hover .tool-l-icon-t,
    .archive-tool-box .layout-l .share:hover .tool-l-icon-t,
    .archive-guide-and-comment-box .tab-choose .tab-item.active p,
    .archive-tool-box .layout-r .report:hover .tool-r-icon-t,
    .archive-tool-box .layout-r .note:hover .tool-r-icon-t,
    .only-owner .brief .uname,
    .guide-box .guide-purchase-note .to-more:hover {
      color: var(--bew-theme-color);
    }

    .section-season .season-info .info .info-icon-active {
      fill: var(--bew-theme-color);
    }

    .section-season.active {
      border: 1px solid var(--bew-theme-color);
    }

    .section-season:hover {
      border-color: var(--bew-theme-color);
    }

    .archive-tool-box .layout-l .collection:hover .tool-l-icon,
    .archive-tool-box .layout-l .consult:hover .tool-l-icon,
    .archive-tool-box .layout-l .share:hover .tool-l-icon {
      fill: var(--bew-theme-color);
    }

    .archive-publishers-box .owner-follow.owner-followed {
      border: 1px solid var(--bew-theme-color);
      background: var(--bew-theme-color);
    }

    .archive-guide-and-comment-box .tab-choose .tab-item.active:after {
      background-color: var(--bew-theme-color);
    }
  }
  // #endregion
  // #region 深色修改
  &.dark {
    .section-season .season-title,
    .right-box-rect .rect-title,
    .archive-title-box,
    .archive-introduction-box p {
      color: var(--bew-text-1);
    }
    .section-season .season-info .info p,
    .section-season .title:hover .title-hover,
    .archive-publishers-box .publishers-head,
    .archive-play-info-box .archive-play-info .archive-play-info-t,
    .archive-tool-box .layout-l .tool-l-icon-t,
    .archive-play-info-box .archive-sub-text-info,
    .archive-play-info-box .archive-expired-info,
    .archive-guide-and-comment-box .tab-choose .tab-item p,
    .archive-tool-box .layout-r .tool-r-icon-t,
    .archive-tool-share-pannel-wrp .left p.url-tip,
    .only-owner .brief .publisher-description,
    .guide-box .purchase-note-title,
    .guide-box .faq-title,
    .guide-box .guide-purchase-note,
    .guide-box .guide-faq,
    .guide-box .guide-purchase-note .to-more {
      color: var(--bew-text-2);
    }

    .section-season .season-info .info .info-icon,
    .archive-tool-box .layout-l .tool-l-icon,
    .archive-play-info-box .archive-play-info .archive-play-info-icon,
    .archive-tool-box .layout-r .tool-r-icon,
    .archive-publishers-box .owner-follow.owner-unfollow {
      fill: var(--bew-text-2);
    }

    .archive-guide-and-comment-box .tab-choos-white,
    .archive-guide-and-comment-box .tab-choose,
    .section-season .title:hover .title-hover {
      background-color: var(--bew-bg);
    }

    .archive-tool-share-pannel-wrp {
      background: var(--bew-bg);
    }
  }
  // #endregion
}
