// .dark,
// .bili-comment {
// 評論人用戶名
.reply-item .root-reply-container .content-warp .user-info .user-name,
.sub-reply-item .sub-user-info .sub-user-name {
  // --520c991b: var(--bew-theme-color);
  color: var(--bew-text-1) !important;
}

// UP主觉得很赞
.reply-item
  .root-reply-container
  .content-warp
  .root-reply
  .reply-tag-list
  .reply-tag-item {
  color: var(--bew-text-2) !important;
  background-color: var(--bew-fill-1) !important;
}

// Like & dislike icon
.like-icon,
.dislike-icon,
.sub-like-icon,
.sub-dislike-icon {
  color: var(--bew-text-3) !important;
}

.like-icon:hover,
.like-icon.liked,
.dislike-icon:hover,
.dislike-icon.disliked,
.sub-like-icon:hover,
.sub-like-icon.liked,
.sub-dislike-icon:hover,
.sub-dislike-icon.disliked {
  color: var(--bew-theme-color) !important;
}

.reply-operation .operation-icon:hover {
  color: var(--bew-theme-color);
}

.bili-comment.browser-pc * a:hover {
  color: var(--bew-theme-color-80);
}

.reply-content-container .reply-content .icon {
  filter: saturate(0) brightness(2) drop-shadow(0 0 1px var(--bew-theme-color))
    drop-shadow(0 0 4px var(--bew-theme-color));
}
// }

// #region Old comments components
.bb-comment .comment-send .comment-submit,
.comment-bilibili-fold .comment-send .comment-submit,
.bb-comment .comment-send-lite .comment-submit,
.comment-bilibili-fold .comment-send-lite .comment-submit {
  background-color: var(--bew-theme-color);
  border-color: var(--bew-theme-color);
}

.bb-comment,
.comment-bilibili-fold {
  background-color: transparent;
}

.bb-comment .comment-list .list-item .user .name,
.comment-bilibili-fold .comment-list .list-item .user .name,
.bb-comment .comment-header .tabs-order li,
.comment-bilibili-fold .comment-header .tabs-order li {
  color: var(--bew-text-1);
}

.bb-comment .comment-header .tabs-order li.on,
.comment-bilibili-fold .comment-header .tabs-order li.on {
  border-color: var(--bew-theme-color);
  color: var(--bew-theme-color);
}

.bb-comment .comment-header .tabs-order li:hover,
.comment-bilibili-fold .comment-header .tabs-order li:hover {
  color: var(--bew-theme-color);
}

.bb-comment .comment-header,
.comment-bilibili-fold .comment-header,
.bb-comment .comment-list .list-item .con,
.comment-bilibili-fold .comment-list .list-item .con,
.bb-comment .comment-send .comment-emoji,
.comment-bilibili-fold .comment-send .comment-emoji,
.bb-comment .comment-send-lite .comment-emoji,
.comment-bilibili-fold .comment-send-lite .comment-emoji,
.bb-comment .bottom-page.center {
  border-color: var(--bew-border-color);
}

.bb-comment .comment-list .list-item .info .like.liked i,
.comment-bilibili-fold .comment-list .list-item .info .like.liked i {
  filter: var(--bew-filter-icon-glow);
}
// #endregion
