.bewly-design {
  body {
    background-color: var(--bew-bg);
  }

  #bili-header-container {
    // background-color: var(--bew-bg) !important;
  }

  .z-top-container {
    background-color: transparent;
    box-shadow: none;
  }

  .bili-header .bili-header__channel .channel-entry-more__link--current,
  .bili-header .bili-header__channel .channel-link--current {
    color: var(--bew-theme-color);
  }

  .card-loaded {
    background-color: var(--bew-elevated-solid-1);
  }

  .brand_blue {
    color: var(--bew-theme-color) !important;
  }

  .van-popover {
    background-color: var(--bew-elevated-solid-1);
  }
}
