html.bewly-design.forceDarkMode.dark {
  filter: var(--bew-filter-force-dark) !important;
  background-color: white;
}

.bewly-design.forceDarkMode {
  &.dark {
    img,
    video,
    [style*="background-image: url"],
    [style*="background: url"] {
      filter: var(--bew-filter-force-dark);
    }
  }
}
