.bewly-design {
  .header-channel {
    margin-top: 10px;
  }

  // .header-channel {
  //   background-color: transparent;
  //   padding: 10px 20px;
  //   box-shadow: none;
  //   z-index: 60;
  // }

  // .header-channel-fixed {
  //   background-color: var(--bew-elevated-2);
  //   backdrop-filter: var(--bew-filter-glass);
  //   border-radius: var(--bew-radius);
  //   box-shadow: var(--bew-shadow-2);
  // }

  // .header-channel-fixed-center {
  //   background-color: var(--bew-border-color);
  // }

  // .header-channel-fixed-right-item {
  //   background-color: var(--bew-fill-1);
  //   border: none;
  // }

  // .header-channel-fixed-right-item:hover {
  //   background-color: var(--bew-fill-2);
  // }

  // .single-card.floor-card .living>img {
  //   filter: var(--bew-filter-icon-glow);
  // }

  .bili-live-card .bili-live-card__info--living img,
  .single-card.floor-card .living > img {
    filter: var(--bew-filter-icon-glow);
  }

  &.dark {
    .floor-card .floor-title {
      color: var(--bew-text-1);
    }

    .single-card.floor-card .badge {
      background-color: var(--bew-content-solid-1);
    }
  }
}
