.bewly-design {
  // #region theme color adaption part
  // Increase the priority of the style inside by writing a non-existent selector in `:not()`
  :not(fdjslfds) {
    // 密码输入框的眼睛组件
    // 使用 !important 可能不是一个好的解决方法, 但这是我找到的唯一一个可行的方法
    .eye-btn {
      --thememini-color: var(--bew-theme-color) !important;
    }

    .bili-mini-content-wp .login-scan-desc p a,
    .login-tab-item.active-tab,
    .clickable,
    .login-agreement-wp span,
    .area-code-select .checked {
      color: var(--bew-theme-color);
    }

    .btn_primary {
      background-color: var(--bew-theme-color);
    }

    .btn_primary.disabled {
      background-color: var(--bew-theme-color) !important;
    }
  }
  // #endregion

  // #region dark mode adaption part
  &.dark {
    .bili-mini-content-wp .login-scan-title,
    .login-tab-item,
    .bili-mini-content-wp .login-scan-desc p,
    .tab__form,
    .btn_other,
    .forget-tip .title {
      color: var(--bew-text-1);
    }

    .login-sns-title,
    .login-sns-name,
    .login-agreement-wp p,
    .login-agreement-wp .link_word,
    .forget-tip .desc {
      color: var(--bew-text-2);
    }

    .bili-mini-content-wp,
    .bili-mini-content-wp .scan-tips-icon,
    .forget-tip {
      background-color: var(--bew-content-solid-1);
    }

    .btn_other,
    .area-code-select {
      background-color: var(--bew-content-solid-2);
    }

    .area-code-select .option:hover,
    .forget-tip .forget-tip-line:hover {
      background-color: var(--bew-bg);
    }

    .login-tab-line,
    .bili-mini-line {
      background-color: var(--bew-border-color);
    }

    .bili-mini-content-wp .login-scan-box,
    .bili-mini-content-wp .login_qrcode_tip,
    .bili-mini-content-wp .login-client-qr-code {
      background-color: white;
    }

    .tab__form,
    .tab__form .form__separator-line,
    .login-sms-wp__vertical-line,
    .area-code-select {
      border-color: var(--bew-border-color);
    }

    .tab__form .form__item input {
      box-shadow: inset 0 0 0 1000px var(--bew-content-solid-1);
    }

    .bili-mini-content-wp .login-client-qr-code {
      border-radius: 10px;
    }

    // 弹窗窗口关闭按钮
    .bili-mini-close-icon {
      filter: invert(1);
    }

    .forget-tip .arrow {
      display: none;
    }

    // 因为隐藏了 .forget-tip .arrow , 所以这里调整一下位置
    .forget-tip {
      top: 40px;
    }

    .bili-mini-content-wp .login-client-qr-code img {
      position: absolute;
      width: 163px;
      height: 163px;
      top: 5px;
      left: 5px;
    }
  }
  // #endregion
}
