.bili-dyn-home--member {
  margin-top: 10px;
}

#app .bg {
  z-index: unset;
}

.bili-dyn-home--member {
  z-index: 1;
  position: relative;
}

// #region Old moments page
.international-header {
  visibility: hidden;
  margin-bottom: 10px;
}

aside section.sticky {
  top: 80px;
}
// #endregion

.dyn-orig-author__following.following-icon:before {
  filter: saturate(0) brightness(2) drop-shadow(0 0 1px var(--bew-theme-color));
}

#app .bg {
  opacity: 0.4;
  height: 100%;
}

#app .bgc {
  background-color: var(--bew-homepage-bg);
}

.bili-dyn-topic__card {
  color: var(--bew-theme-color);
}

.dark {
  #app .bg {
    opacity: 0;
  }

  .bili-dyn-home--member {
    --bg1: var(--bew-content-solid-1);
    --bg2: var(--bew-bg);
  }

  // #region Old moments page
  // .bili-rich-text__content {
  //   color: var(--bew-text-1);
  // }

  // .bili-dyn-my-info,
  // .bili-dyn-my-info--skeleton {
  //   background-color: var(--bew-bg);
  // }
  // #endregion
}
