.bewly-design {
  .bpx-player-toast-row .bpx-player-toast-item {
    --bpx-toast-fn-color: var(--bew-theme-color);
    --bpx-toast-fn-hover-color: var(--bew-theme-color-80);
  }

  #musicApp {
    .container {
      width: 336px;
    }

    @media (min-width: 1681px) {
      .container {
        width: 397px;
      }
    }
  }

  &.dark {
    #musicApp {
      background-color: var(--bew-content-alt-solid) !important;

      .h2 .title svg,
      .h2 .title span,
      .BgmInfo .right .title,
      .main .container .title,
      .video-list .title,
      .bottom-btn {
        color: var(--bew-text-1);
      }

      .BgmInfo .right .singer,
      .BgmInfo .right .des {
        color: var(--bew-text-3);
      }

      .h2,
      .bottom-btn,
      .BgmInfo .right .bottom .btn {
        background-color: var(--bew-content-alt-solid) !important;
      }

      .BgmInfo .left:after {
        border-color: var(--graph_bg_regular);
      }

      .main {
        background-color: var(--bew-bg) !important;
      }

      // 想听原版 按钮
      .BgmInfo .right .bottom .btn:hover {
        background-color: var(--bew-theme-color) !important;
        color: var(--bew-content-solid);
      }

      .bottom-btn {
        border-color: var(--bew-fill-2);
      }
    }
  }
}
