// B站|bilibili 分P视频详情页优化
// https://greasyfork.org/zh-CN/scripts/490676-b站-bilibili-分p视频详情页优化

.bewly-design.videoPage {
  .video-pod__list {
    .title-txt {
      transition: color 0.2s ease-in-out;
    }

    .simple-base-item.normal .title-txt {
      color: var(--bew-text-1) !important;
    }

    .simple-base-item.active .title-txt,
    .simple-base-item.normal:hover .title-txt {
      color: var(--bew-theme-color) !important;
    }

    .simple-base-item.normal:hover {
      background-color: var(--Ga1_s) !important;
    }

    .simple-base-item.active:hover {
      background-color: var(--Wh0) !important;
    }
  }

  // #region dark mode adaption part
  &.dark {
    .video-pod__list {
      .simple-base-item.normal .title-txt {
        color: var(--bew-text-1) !important;
      }

      .simple-base-item.active .title-txt,
      .simple-base-item.normal:hover .title-txt {
        color: var(--bew-theme-color) !important;
      }

      .pod-item.active:hover,
      .simple-base-item.active:hover {
        background-color: var(--bew-bg) !important;
      }
    }
  }
  // #endregion
}
