.bewly-design {
  :not(foobar) {
    .btn.primary {
      background-color: var(--bew-theme-color) !important;
      border-color: var(--bew-theme-color) !important;
    }
    .btn.primary:focus,
    .btn.primary:hover {
      background-color: var(--bew-theme-color-80) !important;
      border-color: var(--bew-theme-color-80) !important;
    }

    .btn.default {
      background-color: unset !important;
      border-color: var(--bew-border-color) !important;
      color: var(--bew-text-1) !important;

      &:focus,
      &:hover {
        color: var(--bew-theme-color) !important;
        background-color: unset !important;
        border-color: var(--bew-theme-color) !important;
      }
    }

    .be-pager-item,
    .be-pager-next,
    .be-pager-prev {
      &:hover {
        color: var(--bew-theme-color) !important;
        border-color: var(--bew-theme-color);

        a {
          color: var(--bew-theme-color) !important;
        }
      }
    }

    .be-pager-item-active {
      background-color: var(--bew-theme-color);
      border-color: var(--bew-theme-color);
    }
  }

  &.dark {
    // Pagination button
    .be-pager-item,
    .be-pager-next,
    .be-pager-prev,
    .space_input {
      border-color: var(--bew-border-color);
    }

    .be-pager-item,
    .be-pager-next,
    .be-pager-prev {
      background-color: unset;
    }
  }
}
