.bewly-design {
  // #region new user card styles

  // #region theme color adaption part
  .bili-user-profile-view__info__button.follow:hover {
    background-color: var(--bew-theme-color-80);
  }

  .bili-user-profile-view__info__button.follow:hover {
    border-color: var(--bew-theme-color-80);
  }
  // #endregion

  // #endregion

  // #region old user card styles
  &.dark {
    #id-card {
      background-color: var(--bew-elevated-solid);

      .idc-uname[style*="color"],
      .idc-uname:hover {
        color: var(--bew-theme-color) !important;
      }

      .btn.ghost,
      .btn.ghost:focus,
      .btn.ghost:hover {
        background-color: var(--bew-fill-3);
        color: var(--bew-text-3);
        border-color: var(--bew-fill-3);
      }

      .btn-content:hover {
        background-color: unset;
      }

      .btn.default {
        background-color: var(--bew-fill-1);
        color: var(--bew-text-1);
        border-color: var(--bew-fill-1);

        &:hover {
          background-color: unset;
          color: var(--bew-theme-color);
          border-color: var(--bew-theme-color);
        }
      }

      .btn.primary {
        background-color: var(--bew-theme-color);
        border-color: var(--bew-theme-color);

        &:hover {
          background-color: var(--bew-theme-color-80);
          border-color: var(--bew-theme-color-80);
          color: white;
        }
      }
    }
  }
  // #endregion
}
